@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-main: #72c3fc;
  --color-inverted-main: #a71e34;
  --color-gray: #6c757d;
  --color-lighterblack: #323232;
  --color-l-black: #292929;
  --color-bg-shade: #232323;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #141414;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Raleway, sans-serif;
  overflow-x: hidden;
}
